body {
    font-family: Arial;
    background-color: #f4f4f4;
}

h2 {
    color: #333;
}

form {
    background: white;
    padding: 20px;
    width: 400px;
    margin: auto;
    border-radius: 5px;
}

button {
    background: green;
    color: white;
    padding: 10px;
    border: none;
}

a {
    text-decoration: none;
    color: blue;
}
