{% load static %}
<link rel="stylesheet" href="{% static 'exam/style.css' %}">

<h2>Exam Questions</h2>

<form method="post">
    {% csrf_token %}
{% for q in questions %}
    <p>{{ q.question_text }}</p>

    <input type="radio" name="{{ q.id }}"> {{ q.option_a }} <br>
    <input type="radio" name="{{ q.id }}"> {{ q.option_b }} <br>
    <input type="radio" name="{{ q.id }}"> {{ q.option_c }} <br>
    <input type="radio" name="{{ q.id }}"> {{ q.option_d }} <br>
    <hr>
{% endfor %}
    <button type="submit">Submit Exam</button>
</form>
